<web-app>
    <context-param>
        <param-name>jmxtrans.config</param-name>
        <param-value>
            classpath:jmxtrans.json
            classpath:copperegg_config.json
            classpath:org/jmxtrans/embedded/config/jmxtrans-internals.json
            classpath:org/jmxtrans/embedded/config/tomcat-7.json
            classpath:org/jmxtrans/embedded/config/jvm-sun-hotspot.json
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.jmxtrans.embedded.servlet.EmbeddedJmxTransLoaderListener</listener-class>
    </listener>
</web-app>

